.game {
  display: grid;
  grid-template-rows:
    auto
    minmax(0, 1fr)
    auto
    minmax(0, 1fr)
    auto
    auto;
  grid-template-areas:
    "enemy-panel"
    "enemy-board"
    "turn-controls"
    "player-board"
    "player-hand"
    "player-panel";

  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  gap: var(--size-gap-layout);
  padding: var(--size-padding-layout);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.hand {
  grid-area: player-hand;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;

  min-height: calc(
    var(--size-width-card) * 1.5 + var(--size-padding-block-start-card-hand) +
      var(--size-padding-block-end-card-hand)
  );

  padding-top: var(--size-padding-block-start-card-hand);
  padding-bottom: var(--size-padding-block-end-card-hand);
}
